rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Regra de segurança para a lista de administradores (MAIS ESPECÍFICA PRIMEIRO)
    match /administrators/{adminId} {
      allow read: if request.auth != null;
      allow write: if false; // Proíbe que o app crie ou edite admins
    }

    // Permite acesso à coleção "turma a"
    match /`turma a`/{doc=**} {
      allow read, write: if request.auth != null;
    }

    // Permite acesso à coleção "turma b"
    match /`turma b`/{doc=**} {
      allow read, write: if request.auth != null;
    }

    // Permite acesso à coleção "registrosDSS A"
    match /`registrosDSS A`/{doc=**} {
      allow read, write: if request.auth != null;
    }

    // Permite acesso à coleção "registrosDSS B"
    match /`registrosDSS B`/{doc=**} {
      allow read, write: if request.auth != null;
    }
  }
}
