rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // REGRA GERAL PARA COLEÇÕES DAS TURMAS E REGISTROS
    // Permite acesso se o nome da coleção for um dos permitidos.
    match /{collectionId}/{docId=**} {
      allow read, write: if request.auth != null &&
        (collectionId == 'turma a' || 
         collectionId == 'turma b' || 
         collectionId == 'turma c' ||
         collectionId == 'turma d' ||
         collectionId == 'turma a cg' ||
         collectionId == 'turma b cg' ||
         collectionId == 'turma c cg' ||
         collectionId == 'turma d cg' ||
         collectionId == 'turma a ccp_cg' ||
         collectionId == 'turma b ccp_cg' ||
         collectionId == 'turma c ccp_cg' ||
         collectionId == 'turma d ccp_cg' ||
         collectionId == 'estagio' ||
         collectionId == 'registrosDSS A' || 
         collectionId == 'registrosDSS B' ||
         collectionId == 'registrosDSS C' ||
         collectionId == 'registrosDSS D' ||
         collectionId == 'registrosDSS A CG' ||
         collectionId == 'registrosDSS B CG' ||
         collectionId == 'registrosDSS C CG' ||
         collectionId == 'registrosDSS D CG' ||
         collectionId == 'registrosDSS A CCP_CG' ||
         collectionId == 'registrosDSS B CCP_CG' ||
         collectionId == 'registrosDSS C CCP_CG' ||
         collectionId == 'registrosDSS D CCP_CG' ||
         collectionId == 'registrosDSS Estágio');
    }

    match /auditoria_logs/{logId} {
      allow read, write: if request.auth != null;
    }

    // REGRA PARA LOG DE AUDITORIA (DISTRIBUIÇÃO)
    match /log_auditoria_distribui/{document=**} {
      allow read, write: if request.auth != null;
    }

    // REGRA PARA CONFIGURACOES (AUTOMACAO, ETC)
    // Permite controlar painel administrativo
    match /configuracoes/{docId} {
      allow read, write: if request.auth != null;
    }

    // REGRA DE SEGURANÇA PARA ADMINISTRADORES
    // Permite leitura e escrita pelo app para gerenciar ADMs e senhas.
    match /administrators/{adminId} {
      allow read, write: if request.auth != null;
    }

    // REGRA PARA HISTÓRICO DSS
    // Permite leitura para consultar o histórico pelo painel. Escrita bloqueada (feita pelo Admin SDK).
    match /historico_dss/{docId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}